{% macro t(key) %}{{ {
  "language": "en",
  "edit.link.title": "Edit this page",
  "footer.previous": "Zurück zu:",
  "footer.next": "Weiter zu:",
  "meta.comments": "Kommentare",
  "meta.source": "Source",
  "search.placeholder": "Suche",
  "search.result.placeholder": "Autocomplete-Suche ...",
  "search.result.none": "No matching documents",
  "search.result.one": "1 matching document",
  "search.result.other": "# matching documents",
  "source.link.title": "Zum repository",
  "toc.title": "Inhalte dieser Seite"
}[key] }}{% endmacro %}
